body {
    width: 100dvw;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

.Partf {
    width: 100dvw;
    height: 90dvh;
    background-image: linear-gradient(rgb(202, 202, 202), rgb(202, 202, 202),  black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.division {
    width: 80dvw;
    height: 70dvh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.habilits {
    height: 30dvh;
    width: 25dvw;
    background-color: rgb(173, 173, 173);
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
}

.habilits:hover {
    transform: scale(106%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.habilits p {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.habilits h1 {
    text-align: center;
}

.icon {
    font-size: 2.1rem;
    margin: 5px 5px 0 5px;
}

.treeBox p {
    font-size: 1.1dvw;
}

.treeBox h1 {
    font-size: 1.3dvw;
}


.LINKSSSSSSSS {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.LINKSSSSSSSS:hover {
    transform: scale(+105%);
}

.imageOneExemple {
    width: 20dvw;
    border-radius: 30px;
    border: black 1px solid;
}

/* RESPONSIVIDADE */
@media (max-width: 1025px) {
    .habilits {
        width: 24dvw;
    }

    .habilits p {
        font-size: 10px;
    }

    .habilits h1 {
        font-size: 15px;
    }

    .imageOneExemple {
        width: 35dvw;
    }
}

@media (max-width: 426px) {
    .habilits {
        width: 35dvw;
    }

    .icon {
        font-size: 1.7rem;
    }

    .habilits h1 {
        margin-top: 10px;
    }
}

@media (max-width: 376px) {
    .division {
        width: 90dvw;
    }

    .habilits {
        width: 40dvw;
        margin: 0 7px 0 7px;
    }
}


@media (max-width: 321px) {
    .habilits h1 {
        font-size: 12px;
    }
}