body {
    width: 100dvw;
    overflow-x: hidden;
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /* border: red 0.5px solid; */
}

.BoxOne {
    height: 90dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerOne {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    height: 65dvh;
    width: 70dvw;
}

.TitleSkill {
    color: black;
    font-size: 70px;
    transition: all 0.3s;
}

.fx {
    transition: all 0.3s;
}

.MySKILLS {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 50dvh;
    width: 35dvw;
    font-size: 60px;
    color: var(--color-black);
    transition: color 0.3s;
}

.tt1 {
    font-size: 30px;
    transition: all 0.3s;
    white-space: nowrap;
}

.icons {
    margin: 20px 15px 0 15px;
    transition: all 0.3s;
}

.icons:hover {
    cursor: pointer;
    transform: scale(+120%);
}

.HTML5:hover {
    color: #f16638;
}

.CSS3:hover {
    color: #1775bb;
}

.JS:hover {
    color: #fcb040;
}

.REACT:hover {
    color: #61dbfb;
}

.JAVA:hover {
    color: #f89917;
}

.GIT:hover {
    color: #f44d27;
}

.GITHUB:hover {
    color: #000000;
}

@media (max-width: 769px) {
    .tt1 {
        font-size: 25px;
    }
}

@media (max-width: 426px) {
    .containerOne {
        flex-direction: column;
    }

    .TitleSkill {
        text-align: center;
    }

    .fx {
        display: none;
    }

    .MySKILLS {
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 90dvw;
    }

    .tt1 {
        width: 320px;
        margin: 0 0 0 0;
    }
}

@media (max-width: 321px) {
    .containerOne {
        width: 100dvw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MySKILLS {
        width: 100dvw;
    }

    .tt1 {
        font-size: 23px;
    }
}