@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
/* font-family: "Newsreader", serif; */

body {
    width: 100dvw;
    overflow-x: hidden;
}

* {
    margin: 0 0 0 0 ;
    padding: 0 0 0 0 ;
}

.reveal {
    opacity: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40dvh;
    width: 60dvw;
}

.TituloPrincipal {
    font-size: 3.7rem;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    transform: translateY(+20%);
    transition: all 0.5s;
    font-family: "Newsreader", serif;
    border-right: solid rgb(255, 255, 255) 3.5px;
    width: 11ch;
    animation: binkMaker 0.6s infinite, typing 5s infinite steps(22);
}

@keyframes binkMaker {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    10% {
        width: 0;
    }

    40% {
        width: 11ch;
    }

    60% {
        width: 11ch;
    }

    90% {
        width: 0;
    }

    100% {
        width: 0ch;
    }
}

.Faixaa {
    background-color: white;
    width: 60dvw;
    height: 3px;
    margin: 30px 0 30px 0;
    transform: translateY(+20%);
    transition: all 0.5s;
}

.TextBox {
    height: 35dvh;
    width: 50dvw;
    text-align: center;
    font-size: 20px;
    color: white;
    transform: translateY(+30%);
    transition: all 0.6s;
}

.txtxtxtxtxt {
    margin-top: -50px;
}

@media (max-width: 1024px) {
    .container {
        width: 40dvw;
    }

    .Faixaa {
        width: 50dvw;
    }

    .TituloPrincipal {
        font-size: 3rem;
    }

    .TextBox {
        width: 45dvw;
    }

    .txtxtxtxtxt {
        font-size: 15px;
    }
}

@media (max-width: 426px) {
    .TituloPrincipal {
        font-size: 2.5rem;
    }
}

@media (max-width: 376px) {
    .TextBox {
        height: 300px;
    }
}