body {
    width: 100dvw;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.FOOTER {
    width: 100dvw;
    height: 75dvh;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.midiaLinks {
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
    color: whitesmoke;
    text-decoration: none;
}

.iconsMidia {
    font-size: 30px;
    color: whitesmoke;
}

.linksAlling {
    width: 22dvw;
    display: flex;
    transition: 0.3s ease;
    margin: 25px 0px 25px 0;
    color: whitesmoke;
}

.linksAlling:hover {
    transform: scale(105%);
}

.allingLinks {
    width: 28dvw;
    justify-content: left;
    margin-top: 25dvh;
}

.allign {
    height: 65dvh;
    width: 85dvw;
    display: flex;
}


.locationSection {
    color: whitesmoke;
    display: flex;
}

.locationSection h2 {
    margin-left: 10px;
}

.litleText {
    color: whitesmoke;
    text-align: center;
    width: 35dvw;
}

.litleText h1 {
    font-size: 3dvw;
    margin-bottom: 7px;
}

.litleText p {
    font-size: 1dvw;
}

@media (max-width: 769px) {

    .midiaLinks {
        font-size: 15px;
    }
}

@media (max-width: 426px) {
    .litleText {
        width: 85dvw;
    }

    .FOOTER {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .allign {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .allingLinks {
        width: 85dvw;
        margin-top: 0;
    }

    .litleText h1 {
        font-size: 24px;
    }

}

@media (max-width: 376px) {
    .litleText article {
        font-size: 12.7px;
    }
}