@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
/* font-family: "Kaisei Tokumin", serif; */

* {
    margin: 0;
    padding: 0;
}

.Faixa {
    display: flex;
    align-items: center;
    height: 13dvh;
    width: 100dvw;
    background-color: rgb( 0, 0, 0, .8);
    backdrop-filter: blur(8px);
    color: whitesmoke;
    border-bottom: solid 2px whitesmoke;
    position: fixed;
    z-index: 1;
}

.Instalg {
    height: 12dvh;
    filter: grayscale(100%) brightness(200%) contrast(0%);
    cursor: pointer;
    z-index: 2;
}

.titleF {
    margin: 0 0 0 5px;
}

.NavBar {
    height: 15dvh;
    width: 60dvw;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 24dvw;
    white-space: nowrap;
}

.NavBar li {
    margin: 0 20px 0 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.NavBar a {
    text-decoration: none;
    color: white;
}

.NavBar li:hover {
    transform: scale(+120%);
}

.LOGOO {
    font-family: "Kaisei Tokumin", serif;
    width: 20dvw;
    margin: 0 0 0 30px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.LOGOO:hover {
    transform: scale(+112%);
}