body {
  width: 100dvw;
  overflow-x: hidden;
}

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

.CaixaOne {
  height: 80%;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Section1 {
  opacity: 100%;
  background: url('images/WallPaper.jpeg');
  background-position: center;
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
}

.Section2 {
  height: 270dvh;
  width: 100dvw;
  background-color: rgb(202, 202, 202);
}


.IImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30dvw;
  height: 60dvh;
  display: block;
  margin-top: 40dvh;
  background: none;
  border: solid white 0px;
  border-radius: 100%;
  margin-left: 3dvw;
  cursor: pointer;
  transition: 0.5s;
}

.MyImage {
  height:60dvh;
  border-radius: 100%;
  border: solid white 2px;
  cursor: pointer;
  transition: 0.5s; 
}

.IImage:hover {
  transform: scale(110%);
}

.MyImage:hover {
  transform: scale(110%);
}