body {
  width: 100dvw;
}

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.CaixaOne {
  height: 80%;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10dvh 0 0 0;
}

.Section1 {
  margin-top: -10dvh;
  opacity: 100%;
  background: url('images/WallPaper.jpeg');
  background-position: center;
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
}

.NAVBAR {
  all: unset;
  height: 20%;
  width: 100dvw;
}

.Section2 {
  height: 270dvh;
  width: 100dvw;
  background-color: rgb(202, 202, 202);
}